*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.claimsearch_flip{
    width: 100%;
    
}

.flip{
    background-color:#f5fbff;
    width: 100%;
    height: 100%;
    
}
.flip .front{
    margin: 20px;
    padding:  30px;

    border-radius: 0 20px 0 20px;
  
}

.flip .back{
    margin: 20px;
    padding:  30px;
 
    border-radius: 0 20px 0 20px;
    
  
}


