.id-card-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.id-card-box{
    margin: 20px;
    width: 600px;
    background: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.id-card-box header{
    background: #0078D3;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.id-card-box header h5{
    color: #ffffff;
    margin: 0;
    padding: 0 15px;
    font-size: 15px;
}
.id-card-logo{
    max-width: 200px;
}
.id-card-body{
    padding: 0 0 25px 0;
}
.id-details-grid{
    grid-template-columns: auto auto auto;
    display: grid;
    padding: 0;
}
.id-col{
    padding: 15px;
}
.id-col p{
    padding: 2px 4px;
    margin: 0 0 2px 0;
    font-size: 13px;
    line-height: normal;
}
.bordercol{
    border-bottom: 1px solid #ccc;
}
.id-card-backside{
    padding: 15px;
}
.id-card-backside p{
    font-size: 12px;
    padding: 0;
    margin: 9px 0;
}
.id-card-buttons{
    width: 600px;
    margin: 0 auto 20px auto;
    padding: 5px 0;
    text-align: right;
}
.id-card-buttons .btn{
    margin-left: 10px;
    font-size: 13px;
}
