.mc-area{
    background: #ffffff;
    margin: 5px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    position: relative;
}
.mc-header{
    display: flex;
    justify-content: space-between;
}
.mc-header h2{
    color: #3E3E3E;
    padding: 5px 15px;
    border-left: 4px solid #4193CE;
    font-size: 16px;
}
.doctor-search{
    margin: 5px;
    padding: 0 20px;
}
.mc-list{
    margin: 5px auto;
    padding: 0;
}
.mc-list-item{
    background: #ffffff;
    margin: 4px 25px 15px 25px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(226, 226, 226,0.8);
    display: grid;
    grid-template-columns: auto 150px;
    height: 130px;
}
@media (min-width: 576px){
    .mc-list-item{
        grid-template-columns: auto 150px;
    }
}
@media (min-width: 768px){
    .mc-list-item{
        grid-template-columns: auto 200px;
    }
}
@media (min-width: 992px){
    .mc-list-item{
        grid-template-columns: auto 300px;
    }
}
.mc-list-content{
    padding: 5px 15px;
}
.mc-list-content h2{
    background: url("../images/heart-signal.png") 0 2px no-repeat;
    background-size: 27px 23px;
    padding: 2px 10px 0 32px;
    color: #525252;
    font-size: 17px;
    height: 30px;
}
.mc-list-content .claim-no{
    margin:0 0 0 32px;
    padding: 0;
    line-height: normal;
}
.mc-list-content .claim-no span{
    color: #1B75BB;
}
.mc-details{
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
}

.mc-text{
    margin: 5px 0;
    text-align: left;
}
.mc-text small{
    font-size: 12px;
}
.mc-text p, .mc-text a{
    font-size: 12px;
    font-size: bold;
}
.mc-text a{
    color: #1388BC;
}

.mc-your-points{
    background: #E7F3FD;
}
.view-link{
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
}
.view-link a{
    color: #1B75BB;
    font-size: 14px;
    font-weight: bold;
}
.you-owe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}
.you-owe p{
    font-size: 16px;
}
.you-owe h1{
    font-size: 20px;
    font-weight: bold;
}