.profile-about-area{
    background: #ffffff;
    margin: 5px;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    position: relative;
}
.profile-avatar-bg{
    background: #FED831;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.profile-avatar{
    width: 130px;
    height: 130px;
    margin: 30px auto 0 auto;
    position: relative;
    z-index: 100;
}
.profile-avatar img{
    max-width: 100%;
}
.profile-avatar h5{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}
.profile-about-area>p{
    text-align: center;
    color: #959595;
    padding: 5px;
    margin: 5px 0;
}
.profile-address-area{
    padding: 15px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #EBEBEB;
}
.profile-percent{
    padding: 5px 0;
}
.prow{
    display: flex;
    justify-content: space-between;
}
.pcol{
    padding: 5px 10px;
}

.profile-details-container{
    background: #ffffff;
    margin: 5px 0;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    position: relative;
}
.profile-details-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-details-header h2{
    color: #3E3E3E;
    padding: 5px 15px;
    border-left: 4px solid #4193CE;
    font-size: 16px;
}
.percent-completed{
    padding: 5px 15px 0 0;
}
.profile-tab-content .form-group .form-control{
    border: 1px solid #EBEBEB;
}
.profile-tab-content .form-group label{
    color: #2B2B2B;
}
.personal-btns{
    padding: 5px 0;
    text-align: right;
}
.personal-btns .btn{
    margin-left:  10px;
}
